
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<h2>Login</h2>

<form method="post" action="/Connexion/Login">
    <!-- Input and Submit elements -->
    <input placeholder="email or login" type="text">
    <input placeholder="password" type="password"/>

    <input type="submit" value="ENVOYER" />
</form>
